
@import "reset.less";
@import "mixins.less";
@import "constants.less";
@import "lib.less";

/* Project Specific */
html, body, svg {
	margin:0;
	padding:0;
}

#wrapper {
	width:640px;
	height:480px;
	background:#ccccFF;
}
