
@import "reset.less";
@import "mixins.less";
@import "constants.less";
@import "lib.less";

/* Project Specific */
html, body, svg {
	margin:0;
	padding:0;
}
body {
	// background:#802A2A;
}

#raphael {
	margin: 0 auto;
	width:1024px;
	height:650px;
	// background:url(../img/bg.jpg) no-repeat center center;
	// background-size: cover;
}
